<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring Security Hello World:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring_Security_Hello_World_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring Security Hello World" />
        </element>
        <element id="directory" name="lib" />
      </element>
      <element id="javaee-facet-resources" facet="Spring Security Hello World/web/Web" />
    </root>
  </artifact>
</component>